/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 4rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

a {
    color: #FFF;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

/* UTILS */

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    border: 1px dashed black;
    /* min-height: 400px; */
    width: 100%;
    padding: 2rem;
}

.bttn {
    display: block;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.p-2 {
    padding: 2rem;
}

.card {
    width: 100%;
    /* height: 100%; */
    border-radius: 1.4rem;
    padding: 2rem;
}

.txt-cntr {
    text-align: center;
}

.txt-white {
    color: #FFF;
}

.txt-purple {
    color: #9792E4;
}

.txt-blue {
    color: #2083F7;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: #2083F7;
}

header .row {
    min-height: 4rem;
    align-items: center;
    padding: 0 2rem;
}

header .list {
    list-style-type: none;
    justify-content: space-between;

    display: none;
}

header li {
    padding-right: 2rem;
}

.fa-bars {
    font-size: 1.6rem;
}

.list .bttn {
    color: #000;
    background-color: #FFF;
}

/* DEMO */

#about-us .card,
#demo .card {
    background-color: #B5DDFB;
}

#demo img{
    max-width: 90%;
    align-self: center;
}

#big-col .card{
    padding-bottom: 0;
}

#demo p {
    color: #5A6E7F;
    font-weight: 700;
}

.blue-bttn {
    background-color: #2083F7;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.2rem;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
}

.blue-icon {
    color: #2083F7;
    font-size: 4rem;
}

#demo #big-col .card{
    padding: 0;
}

.demo-description {
    padding: 2rem;
}

/* PLANNING */

#benefits,
#planning {
    background-color: #9792E4;
}

#planning p{
    font-size: 1.1rem;
}

.purple-bttn {
    background-color: #9792E4;
}

.round-bttn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #000;
    line-height: 2rem;
    margin: 0 auto;
}


/* TESTIMONIALS  */

#start,
#testimonials .card {
    background-color: #9792E4;
}

#testimonials img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin: 0 auto;
}

blockquote {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.name-testimonial {
    font-size: 1.4rem;
}

/* BENEFITS */
#planning .card,
#benefits .card {
    background-color: #FFF;
}

/* START */

footer,
#start {
    padding: 2rem;
}


/* FOOTER */

footer {
    background-color: #333333;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    /* LAYOUT */

    .container {
        max-width: 750px;
        margin: 0 auto;
    }

    #demo .row .col {
        width: calc(100% / 3);
    }

    #demo #big-col {
        width: calc(100% / 3 * 2); 
    }

    #about-us .col,
    #benefits .col {
        width: calc(100% / 2);
    }

    .small-container {
        width: 80%;
        margin: 0 auto;
    }

    footer {
        padding: 2rem 7rem;
    }

    /* SECTIONS */

    .w-20 {
        width: calc(100% / 5 - 10rem);
    }

    .w-80 {
        width: calc(100% / 5 * 4 - 10rem);
    }
}

@media screen and (min-width: 999px) {
    /* LAYOUT */
    .container {
        max-width: 980px;
        margin: 0 auto;
    }

    #planning .col {
        width: calc(100% / 2);
    }

    #about-us .container,
    #planning .container {
        padding: 2rem;
    }

    #benefits .col {
        width: calc(100% / 3);
    }

    .small-container {
        width: 40%;
    }

    /* HEADER */

    .hamburger {
        display: none;
    }

    header .list {
        display: flex;
    }
    
    header .row{
        padding-right: 0;
    }

    /* SECTIONS */

    #big-col .card {
        flex-direction: row;
    }

    .w-50 {
        width: 50%;
    }

    #demo img {
        align-self: flex-end;
    }

    #planning .card img {
        width: 50%;
        margin: 0 auto;
    }

    #planning .col {
        align-self: flex-end;
    }
}

@media screen and (min-width: 1200px){
    .container {
        max-width: 1180px;
        margin: 0 auto;
    }

}