/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 60px;
}

/* UTILS */

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    border: 1px dashed black;
    min-height: 400px;
    width: 100%;
    padding: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}


.card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.txt-cntr {
    text-align: center;
}

.txt-white {
    color: #FFF;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: #2083F7;
}

header .row {
    min-height: 60px;
    align-items: center;
    padding: 0 30px;
}

header .list {
    list-style-type: none;
    justify-content: space-between;

    display: none;
}

header li {
    padding-left: 10px;
}

/* DEMO */

#about-us .card,
#demo .card {
    background-color: #B5DDFB;
}

/* PLANNING */
#benefits,
#planning {
    background-color: #9792E4;
}

#benefits .card,
#planning .card {
    background-color: #FFF;
}

/* TESTIMONIALS  */

#start,
#testimonials .card {
    background-color: #9792E4;
}

/* START */

#start {
    padding: 30px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    #demo .row .col {
        width: calc(100% / 3);
    }

    #demo #big-col {
        width: calc(100% / 3 * 2); 
    }

    #about-us .col,
    #benefits .col {
        width: calc(100% / 2);
    }

    .small-container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    #planning .col {
        width: calc(100% / 2);
    }

    #about-us .container,
    #planning .container {
        padding: 30px 30px 30px 30px;
    }

    #benefits .col {
        width: calc(100% / 3);
    }

    .small-container {
        width: 40%;
    }

    .hamburger {
        display: none;
    }

    header .list {
        display: flex;
    }
    
    header .row{
        padding-right: 0;
    }
}